# Project exclude paths
/.gradle/
/Simple Tic-Tac-Toe (Kotlin)/task/build/
/Simple Tic-Tac-Toe (Kotlin)/task/out/
/Simple Tic-Tac-Toe (Kotlin)/task/out/production/classes/
/Topics/For loop and lists/Individual taxes/out/
/Topics/For loop and lists/Individual taxes/out/production/classes/
/Topics/For loop and lists/The index of the first max/out/
/Topics/For loop and lists/The index of the first max/out/production/classes/
/Topics/For loop and ranges/Check the order/out/
/Topics/For loop and ranges/Check the order/out/production/classes/
/Topics/For loop and ranges/The roots of equation/out/
/Topics/For loop and ranges/The roots of equation/out/production/classes/
/Topics/For loop and ranges/The sum of integers from a to b/out/
/Topics/For loop and ranges/The sum of integers from a to b/out/production/classes/
/Topics/Getting substrings/Case insensitive/out/
/Topics/Getting substrings/Case insensitive/out/production/classes/
/Topics/Integers in action/Divide nuts equally between squirrels/out/
/Topics/Integers in action/Divide nuts equally between squirrels/out/production/classes/
/Topics/Jumps and returns/Beyond the word/out/
/Topics/Jumps and returns/Beyond the word/out/production/classes/
/Topics/Jumps and returns/First digit/out/
/Topics/Jumps and returns/First digit/out/production/classes/
/Topics/Multi-dimensional list/Cube of zeros/out/
/Topics/Multi-dimensional list/Cube of zeros/out/production/classes/
/Topics/Multi-dimensional list/Kotlin lists/out/
/Topics/Multi-dimensional list/Kotlin lists/out/production/classes/
/Topics/Processing strings/Compression algorithm/out/
/Topics/Processing strings/Compression algorithm/out/production/classes/
/Topics/Processing strings/Create an euphonious word/out/
/Topics/Processing strings/Create an euphonious word/out/production/classes/
/Topics/Processing strings/Move the first N characters/out/
/Topics/Processing strings/Move the first N characters/out/production/classes/
/Topics/Processing strings/Palindrome/out/
/Topics/Processing strings/Palindrome/out/production/classes/
/Topics/String templates/String and its Int/out/
/Topics/String templates/String and its Int/out/production/classes/
/Topics/When expression/A simple calculator/out/
/Topics/When expression/A simple calculator/out/production/classes/
/Topics/Work with MutableLists/Adding lists/out/
/Topics/Work with MutableLists/Adding lists/out/production/classes/
/Topics/Working with strings/The information about a person/out/
/Topics/Working with strings/The information about a person/out/production/classes/